@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-image {
  animation: rotate 10s infinite linear;
}
.player-music {
  background-color: #212121;
  color: white;
}
.player-music .music-controls {
  margin-right: 4rem;
}

.player-music .custom-progress-bar .rhap_progress-indicator {
  background-color: red;
}
.rhap_progress-container {
  position: relative !important;
  top: 0;
  left: 0;
}
.rhap_main-controls {
  text-align: center;
}
.rhap_progress-filled {
  background-color: red;
}
.rhap_download-progress:hover + .rhap_progress-indicator {
  display: block;
}

.rhap_progress-indicator {
  display: none;
}
.rhap_time {
  color: white;
}
