/* PlayingMusic.css */

.playing-music-container {
  transition: transform 0.9s ease-in-out;
}

.playing-music-container.slide-up {
  transform: translateY(100%);
}

.playing-music-container.slide-down {
  transform: translateY(-100%);
}
.disappear {
  opacity: 0;
  transition: opacity 300ms;
}
@keyframes scaleAndShake {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) rotate(-5deg); /* Thêm hiệu ứng rung rung bằng rotate */
  }
}

.trai-tym {
  transition: background-color 0.3s ease, transform 0.6s ease;
}

.animate-bounce {
  animation: bounce 0.5s;
}

.animate-scale-and-shake {
  animation: scaleAndShake 0.5s;
}
